<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890127170556-05fn3cm4g806r3iuomjmub4k24jijd8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890127170556-05fn3cm4g806r3iuomjmub4k24jijd8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCT2pJaWdW_KByuG6NUtH6C9whl2cUDdJc</string>
	<key>GCM_SENDER_ID</key>
	<string>890127170556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.combro.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-67a01</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-67a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890127170556:ios:d11c3c5ec66809bd9a9079</string>
</dict>
</plist>